/*  czcionka dla body */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/*  menu najwazniejesze no inline blok -  sposob wyslwietlania menu */

#menu {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: black;
    height: 50px;
    position: fixed;
    
}

/* 
#menu ul {
margin: 0;
}
#menu ul .menu-item {
display: inline-block;
text-align: center;
padding: 20px;
}
#menu ul .menu-item a {
color: #fff;
text-decoration: none;
}

*/

li {display: inline-block;
    height: 100px;
    width: 100px;
}
.menu-item > a {
    color: white;
    text-decoration: none;
	padding: 20px;
}

/*  obrazek do szerokości strony */


img {
    width: 100%
}


/* 

#header img {
width: 100%
}
#header h1 {
position: absolute;
top: 50%;
width: 100%;
text-align: center;
color: #fff;
text-transform: uppercase;
margin: 0;
transform: translateY(-50%);
}


*/
/*  naglowek - najważniejsze to zdefiniowac elementowi blokowemu 100% szerokosci  */

#main-header-text {
    position: absolute;
    color: white;
    top: 50%;
    font-size: 60px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

/*  centrowanie tekstu i linka w h2 */

h2, p {
    text-align: center;
}

#contact {
    color: white;
    background-color: black;
    text-align: center;
    height: 150px;
    padding: 10px;
}
#contact a {
    text-decoration: none;
    color: white;
}
#contact-content {
    font-style: normal;
}
/* 

section, footer {
text-align: center;
padding: 40px;
}
#contact {
background-color: #222;
color: #fff;
}
#contact adress {
font-style: normal;
}

#contact a {
color: #fff
}
}
*/